/* Background Check */

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

/* Image, Text */

.icon {
    width: 35px;
    height: 35px;
}

.image {
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

h3, h4, h5, button, table th, table td {
    font-family: Airbnb Cereal App;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}

/* header */

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header h4 {
    font-size: 30px;
    line-height: 40px;
}

/* nav */

nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* main */

main .today, main .order, main .year {
    border-radius: 10px;
    height: 180px;
}

main .today {
    background: linear-gradient(285.38deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
}

main .order {
    background: linear-gradient(285.38deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
}

main .year {
    background: linear-gradient(285.38deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.8));
}

main .elipse1, main .elipse2, main .elipse3 {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: rgba(253, 211, 228, 0.3);
}

main .elipse1 {
    position: absolute;
    top: 10px;
    right: 10px;
}

main .elipse2 {
    position: absolute;
    top: 30px;
    right: 50px;
}

main .elipse3 {
    position: absolute;
    top: 50px;
    right: 80px;
}

/* Revenue */

main .revenue {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main .dropdown button {
    width: 80px;
    height: 25px;
    font-size: 10px;
    background: #CECECE;
    border-radius: 10px;
    color: #4F4E4E;
}

main .revenue table .date {
    color: black;
}

main .revenue table th {
    text-align: start;
    padding-bottom: 0;
    padding-left: 10px;
    font-size: 15px;
    color: #CECECE;
}

main .revenue table td {
    width: 30px;
    text-align: center;
    font-size: 12px;
}

main .revenue .thisMonth {
    background-color: #00F1FF;
}

main .revenue .lastMonth {
    background-color: #FFB8C6;
}

/* Recent */

main .recent {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main .recent table {
    width: 100%;
}

main .recent table th, .recent table td {
    text-align: center;
    width: 20%;
}

main .recent table td {
    font-size: 15px;
    color: #CECECE;
    padding-top: 5px;
    padding-bottom: 5px;
}

main .recent table .left {
    text-align: left;
    padding-left: 10px;
}

main .recent .line {
    border: 1px solid #CECECE;
}

@media (max-width: 992px) {
    main .year h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .icon {
        width: 25px;
        height: 25px;
    }
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 10px;
    }
    main .year h3 {
        font-size: 15px;
    }
    main .elipse1, main .elipse2, main .elipse3 {
        width: 50px;
        height: 50px;
    }
    main .elipse1 {
        top: 5px;
        right: 5px;
    }
    main .elipse2 {
        top: 20px;
        right: 20px;
    }
    main .elipse3 {
        top: 35px;
        right: 35px;
    }
    main .revenue table th, main .revenue table td {
        font-size: 12px;
    }
    main .revenue table td.info {
        font-size: 7px;
    }
    main .recent h3, .revenue h3 {
        font-size: 16px
    }
    main .recent table th {
        font-size: 13px;
    }
    main .recent table td {
        font-size: 11px;
    }
}

@media (max-width: 576px) {
    header.row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    header .col-md-1 {
        flex-direction: column;
        width: 15%;
    }
    header .col-md-11 {
        flex-direction: column;
        width: 85%;
        align-items: center;
        padding-top: 5px;
    }
    nav {
        padding: 8px;
    }
    nav .col {
        padding-left: 0;
    }
    nav .icon {
        margin-right: 10px;
    }
    main {
        padding: 20px;
    }
    main .row .revenue {
        margin: 10px;
    }
    main .row .revenue .row {
        padding: 10px;
    }
    main .recent {
        margin: 10px;
    }
    main .recent .p-md-3 {
        padding: 10px;
    }
    main .recent table th {
        font-size: 8px;
    }
    main .row .recent .line {
        padding: 0;
    }
    main .col-md-4 {
        margin-bottom: 10px;
    }
    main h3, main .year h3 {
        font-size: 30px;
    }
    main h5 {
        font-size: 12px;
    }
    main .recent table .left {
        text-align: left;
        padding-left: 0px;
    }
}