* {
    margin: 0;
}

/* Background Check */

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.orange {
    background-color: orangered;
}

/* End-Background Check */

.container {
    width: 100%;
    height: 100%;
}

.main-bar {
    width: 70%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 35px;
    height: 35px;
}

.image {
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.image-cart {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

h2, h3, h4, button {
    font-family: Airbnb Cereal App;
}

button {
    color: #82DE3A;
    font-weight: bold;
}

button.qly {
    background-color: #FFFFFF;
    border: 1px solid #82DE3A;
    box-sizing: border-box;
}

button.min, button.pls {
    background-color: rgba(130, 222, 58, 0.2);
    border: 1px solid #82DE3A;
    box-sizing: border-box;
}

/* Header */

header {
    height: 40px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header.row {
    justify-content: space-between;
}

header h2 , aside .cart h2{
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

/* Nav */

nav {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

nav .icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Main */

main {
    width: 100%;
    height: 610px;
    background: rgba(190, 195, 202, 0.3);
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

main .menu {
    width: 100%;
}

.menu .row {
    justify-content: center;
}

/* Article */

article {
    padding: 20px
}

article .select {
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

article .select .image {
    /* opacity: 0.8; */
    filter: brightness(50%);
}

.tick {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('../asset/tick.png');
    background-size: 40px;
}

/* Aside */

aside {
    width: 30%;
    background: #FFFFFF;
    border: 1px solid #CECECE;
}

aside .row {
    justify-content: center;
}

aside .cart {
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
    height: 40px;
}

aside .cart .count {
    background: #57CAD5;
    border-radius: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

/* Aside List */

aside .list .col {
    width: 100%;
    padding: 20px;
}

aside .list .row {
    justify-content: start;
}

aside .list .select {
    margin-bottom: 15px;
}

aside .list .item {
    height: 100%;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

aside .list .price {
    margin-top: auto;
    justify-content: space-between;
}

aside .list .price .row {
    margin-right: 10px;
}

aside .list .price h4 {
    font-size: 15px;
}

/* Aside btm*/

aside .btm {
    margin-top: auto;
    margin-bottom: 0;
    padding: 40px 20px 20px 20px;
}

aside .btm .row {
    justify-content: space-between;
}

aside .btm p {
    margin-top: 5px;
}

aside .btm .checkout {
    background-color: #57CAD5;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    color: #FFFFFF;
}

aside .btm .cancel {
    background-color: #F24F8A;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    color: #FFFFFF;
}

@media (max-width:768px) {
    .icon {
        width: 20px;
        height: 20px;
    }
    .image {
        width: 100px;
        height: 80px;
        border-radius: 10px 10px 0px 0px;
    }
    .image-cart {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    header, aside .cart {
        height: 15px;
    }
    header h2, aside .cart h2 {
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }
    main {
        height: 310px;
    }
    article {
        padding: 10px;
    }
    article h4 {
        font-size: 12px;
    }
    article h4.text {
        font-size: 9px;
    }
    aside h3 {
        font-size: 14px;
        line-height: 20px;
    }
    aside h4 {
        font-size: 10px;
        line-height: 10px;
    }
    aside .list .item h3 {
        font-size: 10px;
    }
    aside .list .price h4 {
        font-size: 10px;
        margin-bottom: 0;
    }
    aside .scroll {
        overflow-y: scroll;
        height: 300px;
    }
    aside .scroll::-webkit-scrollbar {
        display: none;
    }
    aside .btm {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .icon {
        width: 15px;
        height: 15px;
    }
    .image {
        width: 180px;
        height: 150px;
        border-radius: 10px 10px 0px 0px;
    }
    .image-cart {
        width: 80px;
        height: 80px;
        border-radius: 5px;
    }
    main {
        height: 600px;
    }
    main .menu .row {
        flex-direction: column;
    }
    article h4 {
        font-size: 20px;
    }
    aside .scroll {
        overflow-y: scroll;
        height: 600px;
    }
    aside .scroll::-webkit-scrollbar {
        display: none;
    }
    aside .list h3 {
        font-size: 12px;
        flex-direction: column;
    }
    aside .list h4 {
        flex-direction: column;
        font-size: 12px;
        padding-top: 5px;
    }
    aside .list .select {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        padding-top: 0;
    }
    aside .list .price {
        flex-direction: column;
    }
    aside .btm{
        padding :5px;
    }
    aside .btm h3 {
        font-size: 11px;
    }
    aside .btm p {
        font-size: 10px;
    }
}