/* Background Check */

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

/* Image, Text */

.icon {
    width: 35px;
    height: 35px;
}

.image {
    width: 250px;
    height: 180px;
    border-radius: 10px;
}

h3, h4, h5, button, table th, table td {
    font-family: Airbnb Cereal App;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}

/* header */

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

header h4 {
    font-size: 30px;
    line-height: 40px;
    text-shadow: 2px 2px 5px rgba(23, 32, 34, 0.25);
}

/* nav */

nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* main */

main {
    background-image: url('https://i.pinimg.com/originals/09/52/e9/0952e9d8c44d9e1fcc1e9b6da06ca49c.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
}

main .order {
    border-radius: 10px;
}

main .order h4 {
    text-shadow: 2px 2px 5px gray;
    text-align: center;
}

main .order button.order {
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    color: beige;
}

main .slide {
    /* background-color: transparent; */
    overflow-y: scroll;
    height: 220px;
    width: 320px;
}

main .slide::-webkit-scrollbar {
    display: none;
}

main .slide h5 {
    font-size: 20px;
    margin-bottom: 15px;
    color: whitesmoke;
}

@media (max-width: 768px) {
    .icon {
        width: 25px;
        height: 25px;
    }
    .image {
        width: 110px;
        height: 110px;
    }
    main h2 {
        font-size: 20px;
    }
    main h3 {
        font-size: 18px;
    }
    main h4{
        font-size: 16px;
    }

    main .order h4 {
        font-size: 14px;
    }
    main .slide h5 {
        font-size: 16px;
    }
    main .order button.order{
        width: 130px;
        font-size: 12px;
    }
}